*.o

*.lib
*.a
*.so
*.dll
*.dylib

build/
doubly_linked_list

*.d

.vscode/
.idea/
*.swp
*.swo
*.sublime-*
*.log
*.DS_Store

Thumbs.db
desktop.ini

*.obj
*.pdb
*.dSYM/
*.stackdump
*.tmp

node_modules/
venv/
vendor/

tempCodeRunnerFile.c
test
example
string-palindrome-example