*.o

*.lib
*.a
*.so
*.dll
*.dylib

bin/
build/
doubly_linked_list

*.d

.vscode/
.idea/
*.swp
*.swo
*.sublime-*
*.log
*.DS_Store

Thumbs.db
desktop.ini

*.obj
*.pdb
*.dSYM/
*.stackdump
*.tmp

node_modules/
venv/
vendor/

test
tempCodeRunnerFile.c
benchmark
benchmark.c
tmp.markdown